.auth_title {
    font-size: 160%;
    margin-bottom: -8px;
}
.auth {
    text-align: center;
    margin-top: 15%;
    font-size: 200%;
}
.input_field {
    min-width: 25%;
    font-size: 100%;
    margin-top: 10px;
}
.input_button {
    color: black;
    font-size: 130%;
    margin-top: 10px;
}
.input_button:hover {
    color:black;
    background-color:darkgrey;
}
.authList_title {
    max-width: 40%;
    text-align: center;
}
.authList_info {
    display: flex;
    justify-content: space-around;
    margin-right: 50%;
}
.authTable {
    margin-left: 4%;
    font-size: 120%;
}