@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

::-webkit-input-placeholder {
    font-family: 'Oswald', sans-serif;
    color: #3D3D3D;
}

body{
    font-family: 'Oswald', sans-serif;
    background-color: #272A30;
}

.auth_title {
    font-size: 160%;
    margin-bottom: 20px;
    color: white;
}
.auth {
    text-align: center;
    margin-top: 15%;
    font-size: 200%;
}
.input_field {
    min-width: 25%;
    box-shadow:0 0 15px 3px rgba(28,28,28);
    border-radius: 10px;
    font-size: 100%;
    border: none;
    margin-top: 10px;
}
.input_button {
    color: black;
    font-size: 130%;
    margin-top: 10px;
}
.input_button:hover {
    color:black;
    background-color:darkgrey;
}

.authTitle {
    color: white;
    font-size: 300%;
}

.authTable_title {
    color: white;
    font-size: 150%;
    padding-left: 20%;
    padding-right: 90px;
}

table {
    width: 75%;
    color: white;
    font-size: 150%;
    margin-left: 2%;
}

.authTable_link {
    color: white;
    text-decoration: none;
}

.authTable_link:hover {
    color: grey;
    text-decoration: underline;
}

.input_button{
    margin-top: 30px;
    display:inline-flex;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    background-color: #3D3D3D;
    border: none;
    width: 120px;
    height: 50px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    transition:  0.5s;
}

.input_button:hover{
    background-color: #f5f5f5;
    color: black;
    box-shadow: 0 -3px #949494 inset;
}

.logout_button {
    display:inline-flex;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    background-color: #3D3D3D;
    border: none;
    width: 120px;
    height: 50px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    transition:  0.5s;
}
.logout_admin {
    position: absolute;
    right: 5%;
    top: 6%;
}
.card_createTitle {
    color: white;
    font-size: 250%;
    margin-left: 170px;
}
.cardid_input_field {
    min-width: 25%;
    min-height: 40%;
    box-shadow:0 0 15px 3px rgba(28,28,28);
    border-radius: 10px;
    font-size: 120%;
    margin-top: 10px;
    margin-right: 2%;
}
.cardid_create {
    display: flex;
    margin-left: 50px;
}
.cardid_submit {
    box-shadow:0 0 15px 3px rgba(28,28,28);
    border-radius: 6px;
    margin-top: 15px;
    font-size: 120%;
    margin-left: 205px;
}