{% extends 'base.html' %}

{% block title %}
Admin page
{% endblock %}

{% block body %}
    <div>
        <h1 class="authTitle">Список карт</h1>
        <table>
            <tr><th class="authTable_title">ID</th><th class="authTable_title">Имя</th></tr>
            {% for i in allcards %}
                <tr class="authTable_content">
                    <td>{{ i.id }}</td>
                    <td>{{ i.card }}</td>
                    <td>{{ i.name }}</td>
                    <td><a href="" class="authTable_link">Редактировать</a></td>
                    <td><a href="" class="authTable_link">Удалить</a></td>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}