{% extends 'base.html' %}

{% block title %}
Admin page
{% endblock %}

{% block body %}

    <form method="POST" action="/logout">
        <div class="logout_admin">
            <input type="submit" class="logout_button" value="Выйти">
        </div>
    </form>

    <div>
        <h1 class="authTitle">Список карт</h1>
        <table>
            <tr><th class="authTable_title">ID</th><th class="authTable_title">Имя</th></tr>
            {% for i in allcards %}

                <tr class="authTable_content">
                    <td>{{ loop.index }}</td>
                    <td>{{ i.card }}</td>
                    <td>{{ i.name }}</td>
                    <td>
                        <details>
                            <summary class="authTable_link">Редактировать</summary>
                            <div class="edit_window">
                                <form method="POST" action="/admin/{{ i.id }}/edit">
                                    <input type="text" class="input_field" name="cardinput" id="cardinput" value="{{ i.card }}">
                                    <input type="text" class="input_field" name="nameinput" id="nameinput" value="{{ i.name }}">
                                    <input type="submit" class="input_field" value="Сохранить">
                                </form>
                            </div>
                        </details>
                    </td>
                    <td><a href="/admin/{{ i.id }}/del" class="authTable_link">Удалить</a></td>
                </tr>
            {% endfor %}
        </table>
        <div class="{{ smth }}"></div>
        <h1 class="card_createTitle">Добавить данные</h1>
        <div class="cardid_create">
            <form method="POST" action="/admin/card_create">
            <input type="text" class="cardid_input_field" name="card_add" id="card_add" placeholder="ID карты">
            <input type="text" class="cardid_input_field" name="name_add" id="name_add" placeholder="Имя пользователя">
            <input type="submit" class="cardid_submit" value="Сохранить">
            </form>
        </div>
    </div>

    <div class="doorSwitcherMainAdmin">
        <form action="{{ url_for('main.doorswitcheradmin') }}" method="POST">
            <input type="submit" class="doorSwitchBtn" value="Открыть" name="btn">
        </form>

    </div>
{% endblock %}